//
// Fonts
// -------------------------------------------------- //


@font-face {
    font-family: Geometria;
    src: url('../fonts/geometria-webfont.woff2') format('woff2'),
         url('../fonts/geometria-webfont.woff') format('woff'),
         url('../fonts/geometria-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Geometria;
    src: url('../fonts/geometria-italic-webfont.woff2') format('woff2'),
         url('../fonts/geometria-italic-webfont.woff') format('woff'),
         url('../fonts/geometria-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: Geometria;
    src: url('../fonts/geometria-bold-webfont.woff2') format('woff2'),
         url('../fonts/geometria-bold-webfont.woff') format('woff'),
         url('../fonts/geometria-bold-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: Geometria;
    src: url('../fonts/geometria-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/geometria-bolditalic-webfont.woff') format('woff'),
         url('../fonts/geometria-bolditalic-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: Geometria;
    src: url('../fonts/geometria-medium-webfont.woff2') format('woff2'),
         url('../fonts/geometria-medium-webfont.woff') format('woff'),
         url('../fonts/geometria-medium-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Geometria;
    src: url('../fonts/geometria-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/geometria-mediumitalic-webfont.woff') format('woff'),
         url('../fonts/geometria-mediumitalic-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: Geometria;
    src: url('../fonts/geometria-extablack-webfont.woff2') format('woff2'),
         url('../fonts/geometria-extablack-webfont.woff') format('woff'),
         url('../fonts/geometria-extablack-webfont.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: Geometria;
    src: url('../fonts/geometria-extrablackitalic-webfont.woff2') format('woff2'),
         url('../fonts/geometria-extrablackitalic-webfont.woff') format('woff'),
         url('../fonts/geometria-extrablackitalic-webfont.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: Geometria;
    src: url('../fonts/geometria-heavy-webfont.woff2') format('woff2'),
         url('../fonts/geometria-heavy-webfont.woff') format('woff'),
         url('../fonts/geometria-heavy-webfont.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: Geometria;
    src: url('../fonts/geometria-heavyitalic-webfont.woff2') format('woff2'),
         url('../fonts/geometria-heavyitalic-webfont.woff') format('woff'),
         url('../fonts/geometria-heavyitalic-webfont.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
