//
// Blocks
// -------------------------------------------------- //


.icon {
  display block

  svg {
    display block
    width 100%
    height 100%
    max-width 100%
    max-height 100%
  }
}


.icon-empty-battery {
  background url(../img/empty-battery-icon.png) 0 0 no-repeat
  width 31px
  height 41px
}
.icon-delevery {
  background url(../img/delevery-icon.png) 0 0 no-repeat
  width 40px
  height 25px
}
.icon-battery {
  background url(../img/battery-icon.png) 0 0 no-repeat
  width 33px
  height 21px
}
.icon-staff {
  background url(../img/staff-icon.png) 0 0 no-repeat
  width 28px
  height 31px
}
.icon-scales {
  background url(../img/scale-icon.png) 0 0 no-repeat
  width 26px
  height 30px
}
.icon-note-check {
  background url(../img/note-check-icon.png) 0 0 no-repeat
  width 31px
  height 31px
}
