//
// Tables
// -------------------------------------------------- //

table {
  width 100%

  th,
  td {
    border 1px solid #c8c8c8
    text-align center
  }
  th {
    font-size 18px
    font-weight 600
  }
}
