//
//    Project stylus root file
//

// Core variables and mixins
@import "variables";
@import "mixins";

// Core CSS
@import "core/fonts";
@import "core/scaffolding";
@import "core/type";

// Components
@import "modules/icons";
@import "modules/tables";
@import "modules/forms";

// Components w/ JavaScript
@import "modules/flickity";
@import "modules/fancybox";

// Layouts
@import "modules/layouts";

// Blocks
@import "modules/blocks";

// Utility classes
@import "modules/responsive-utilities";
@import "modules/utilities";
