/*
* Mixins
* -------------------------------------------------- */

/* Utilities */
@import "mixins/hide-text";
@import "mixins/image";
@import "mixins/text-overflow";
@import "mixins/responsive-visibility";
@import "mixins/paddings";

/* Components */


/* Skins */
@import "mixins/border-radius";
@import "mixins/placeholder";

/* Layout */
@import "mixins/clearfix";
