/*
*  Paddings
*/


padding-vertical($top, $bottom = $top) {
	padding-top: $top;
	padding-bottom: $bottom;
}
padding-horizontal($left, $right = $left)  {
	padding-left: $left;
	padding-right: $right;
}
